// Überschreibt die globalen Variablen und Komponentevariablen von Vuetify, siehe https://vuetifyjs.com/en/features/sass-variables/.

// Basis für die Eckenrundung von Komponenten. Die tatsächliche Rundung könnte z. B. ein Mehrfaches von diesem Wert sein.
$border-radius-root: 12px;

// Um die Lesbarkeit von Überschriften ausgefüllter Textfelder zu vebessern, wird das Kleinerwerden entfernt und dafür der Abstand zum Textfeldinhalt erhöht.
$text-field-label-active-transform: translateY(-24px);
$text-field-dense-label-active-transform: translateY(-14px);

// Damit die Anpassungen an Textfeldern auch bei Text Areas entsprechend aussehen, wird die Zeilenhöhe angepasst.
$textarea-line-height: 32px;
